# ignore all IIS files
web.config

# ignore all config.core.php
config.core.php
!setup/includes/config.core.php

# ignore all config.inc.php
config.inc.php

# ignore concatenated js
modext.js

# ignore various IDE project files and folders
.idea/
.buildpath
.project
.settings/
nbproject/

# ignore php and txt files beginning with test in root directory
/test*.php
/test*.txt

# ignore mac files
.DS_Store

# ignore setup config files
setup/config.xml
setup/config.new.xml
setup/config.upgrade.xml
setup/config.upgrade-advanced.xml

# ignore some MODX files
/core/*
/connectors/*
index.php
!/core/components/

#ignore qsync file from QNAP
.qicon

#ignore composer files
composer.json
composer.lock

!.gitkeep

#windows hotfix
Gitify
/src
/vendor

#ignore files after installing MODX
ht.access
manager/*

# ignore gitify backups
/_backup/*
/setup/